.terraform/
*.tfplan
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.auto.tfvars
*.auto.tfvars.json
terraform.tfvars
terraform.tfvars.json
.env
.direnv/
